* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Archivo', sans-serif;
    ;
}


header .top-header h2 {
    color: #121214;
    text-align: center;
    font-size: 1.5rem;
    padding: 1.19rem;
}

.header {
    width: 100%;
    min-height: 35rem;
    /* padding: 5.87rem 0 5.94rem 26rem; */
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 22rem;
    background-image: url(./assets/img/image-michael-jordan.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header .title-header {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 2rem;
    margin-bottom: 3.19rem;
}

.header .title-header img {
    width: 3rem;
    height: 3rem;
}


.header .description-header {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    max-width: 27rem;
    line-height: 140%;

}

.header .description-header h1 {
    color: #FFF;
    font-size: 2rem;
}

.header .description-header p {
    font-size: 1.125rem;
}

.s-main {
    max-width: 76rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

.s-main .title-s-main {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 4.5rem;
    max-width: 37rem;
}

.s-main .title-s-main h2 {
    color: #121214;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.s-main .title-s-main p {
    color: #121214;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;

}

.s-main .jordans {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 5rem;
    gap: 2rem;
}

.s-main .jordans .jordan .image {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F3F7FF;
    height: 12.5rem;
    width: 24rem;
    margin-bottom: 1.5rem;

}

.s-main .jordans .jordan .image img:hover {
    transform: scale(1.3);
    transition: 1s all ease;
    cursor: pointer;

}

.s-main .jordans .jordan .jordan-info h2 {
    color: #121214;
    font-family: Archivo;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 130%;
    margin-bottom: 0.75rem;
}

.s-main .jordans .jordan .jordan-info span {
    color: #7CA2F4;
    font-family: Archivo;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 10rem;
}

.s-main .jordans .jordan .jordan-info h3 {
    color: #121214;
    font-family: Space Grotesk;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: normal;
    margin-top: 1.5rem;
}

/* Respondividade */
/* 
@media screen and (min-width: 425px) and (max-width: 76px) {
    header {
        .top-header h2 {
            text-align: center;
            font-size: 1rem;

        }
    }

    .header {
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .s-main {
        align-items: center;

        .title-s-main {
            margin-bottom: 2.5rem;
        }

        .title-s-main h2 {
            font-size: 1.25rem;
        }

        .title-s-main p {
            font-size: 0.875rem;
            max-width: 19.93rem;

        }
    }

} */

@media (max-width: 1024px) {
    .s-main .jordans {
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .header {
        padding-left: 5.5rem;
    }

    .s-main .title-s-main h2 {
        font-size: 1.5rem;
    }

    .s-main .title-s-main p {
        font-size: 1.3rem;
    }

    .s-main .jordans .jordan .image {
        height: 12.5rem;
        width: 20rem;
    }

    .s-main .jordans .jordan .jordan-info h2 {
        font-size: 1rem;
    }
}



@media (max-width: 425px) {
    .header {
        padding-left: 1rem;
    }

    .header .description-header h1 {
        font-size: 1.5rem;
    }

    .header .description-header p {
        max-width: 17rem;
        font-size: 1rem;
    }

    .s-main .title-s-main {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}